@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Task Managing System.</h1>
    <h3 class="display-2">It's a simple web application built on .NET Core platform using MVC patterns with Entity Framework.</h3>
    <br />
    <a class="btn btn-primary" asp-controller="MyTasks" asp-action="Create">Create New Task</a>
</div>

